<!DOCTYPE html>
<html>

<head>
    <title>RapidLink</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    {{template "header.html" .}}
    <div class="container">
        <h1 class="mt-4">Enter URL:</h1>
        <form class="mt-4" method="post" action="/shorten">
            <div class="form-group">
                <input type="url" class="form-control" name="url" placeholder="Enter the URL" required>
            </div>
            <button type="submit" class="btn btn-primary">Generate RapidLink</button>
        </form>
    </div>
    {{ template "footer.html" . }}
</body>

</html>