<!DOCTYPE html>
<html>

<style>
header {
    background-color: #2c437c;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 4em;
}

h2 {
    margin-top: 10px;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
</style>

<head>
    <title>RapidLink</title>
</head>

<body>
    <header>
        <div class="header-container">
            <h1><a href="http://localhost:3000/">RapidLink</a></h1>
            <h2>Shorten Your Links, Rapidly!</h2>
        </div>
    </header>
</body>

</html>