<!DOCTYPE html>
<html>

<head>
    <title>RapidLink</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <header class="bg-dark text-white py-4">
        <div class="container">
            <h1 class="text-center mb-0">RapidLink</h1>
            <nav class="text-center">
                <ul class="list-inline">
                    <li class="list-inline-item"><a class="text-white" href="/">URL Shortener</a></li>
                    <li class="list-inline-item"><a class="text-white" href="/about">QR Code Generator</a></li>
                </ul>
            </nav>
        </div>
    </header>
</body>

</html>